@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./color.scss";

// font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Source+Code+Pro&display=swap');

body {
    background-color: $base03;
    font-family: 'Source Code Pro', 'Noto Sans JP', sans-serif;
    color: $base3;

    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-flow: column;
}

a {
    transition: color 0.3s;
    color: $yellow;
}

a:hover {
    color: $orange;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

main {
    margin: 1rem;
    flex: 1;
}

footer {
    margin: 1rem;
    text-align: center;
}
