@import "../node_modules/bootstrap/scss/bootstrap.scss";

// font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Source+Code+Pro&display=swap');

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

body {
    background-color: $base03;
    font-family: 'Source Code Pro', 'Noto Sans JP', sans-serif;
    color: $base3;

    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-flow: column;
}

a {
    transition: color 0.3s;
    color: $yellow;
}

a:hover {
    color: $orange;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

main {
    margin: 1rem;
    flex: 1;
}

footer {
    margin: 1rem;
    text-align: center;
}

// for Header
nav {
    background-color: $base02;
}

#main-header .navbar-brand {
    font-size: 1.5rem;
    color: $green;
}

#main-header .nav-link {
    margin: 0 0.3rem;
}

#page-breadcrumb {
    margin: 0 5rem;
}

#page-breadcrumb * {
    background-color: $base03;
}
