@import "./base.scss";

// for Header
nav {
    background-color: var(--solarized-base02);
}

#main-header .navbar-brand {
    font-size: 1.5rem;
    color: var(--solarized-green);
}

#main-header .nav-link {
    margin: 0 0.3rem;
    color: var(--solarized-base1);
}
#main-header .nav-link.active {
    font-weight: bold;
    color: var(--solarized-base3);
}

#main-header #navbar-nav form {
    margin-left: auto;
    margin-right: 0;
}

#page-breadcrumb {
    margin: 0 auto;
    width: 100%;
}

@include media-breakpoint-up(sm) {
    #page-breadcrumb {
        width: 80%;
    }
}

@include media-breakpoint-up(md) {
    #page-breadcrumb {
        width: 60%;
    }
}

#page-breadcrumb * {
    background-color: var(--solarized-base03);
}
