@import "./base.scss";
@import "./header.scss";

main {
    width: 90%;
    margin: 0 auto;
}

@include media-breakpoint-up(sm) {
    main {
        width: 70%;
    }
}

@include media-breakpoint-up(md) {
    main {
        width: 50%;
    }
}

.markdown-content {
    @import "solarized.scss";
}

.date-info {
    color: $base0;
}

.line-through {
    text-decoration: line-through;
}

.section-title {
    font-weight: 700;
    font-size: 2.7rem;
    color: $magenta;
    margin-bottom: 2.5rem;
}

.section-content {
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
}

.section-page-block {
    margin-bottom: 2rem;
}