@import "./base.scss";
@import "./header.scss";

main {
    width: 90%;
    margin: 0 auto;
}

@include media-breakpoint-up(sm) {
    main {
        width: 70%;
    }
}

@include media-breakpoint-up(md) {
    main {
        width: 50%;
    }
}

.markdown-content {
    code {
        font-family: var(--my-font);
    }

    h1 {
        color: var(--solarized-magenta);
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--solarized-green);
    }

    pre {
        padding: 1em;
        box-shadow: 1pt 1pt 2pt var(--solarized-base3);
        border: 1pt solid var(--solarized-base1);
    }
}

.date-info {
    color: var(--solarized-base0);
}

.line-through {
    text-decoration: line-through;
}

.section-title {
    font-weight: 700;
    font-size: 2.7rem;
    color: var(--solarized-magenta);
    margin-bottom: 2.5rem;
}

.section-content {
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
}

.section-page-block {
    margin-bottom: 2rem;
}
