<div style="text-align: center;">

    {% set path_id = path | replace(from="/", to="-") -%}
    {% set path_id = path_id | replace(from=".", to="-") -%}
    {% set path_id_target = '#' ~ path_id -%}

    <button type="button" class="btn" data-toggle="modal" data-target="{{ path_id_target }}">
        <img src='{{ resize_image(path=path, width=720, height=720, op="fit") }}' class="img-fluid" />
        {% if title != "" %}
        <br />
        <span style="color: #fdf6e3;">{{ title }}</span>
        {% endif %}
    </button>
    <div id="{{ path_id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="imagePopupLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content" style="background-color: #00000030;">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: #FFFFFF;">&times;</span>
                    </button>
                    {% set full_path = '/' ~ path -%}
                    <img src="{{ full_path }}" class="img-fluid" loading="lazy" style="max-height: 80vh;">
                </div>
            </div>
        </div>
    </div>
</div>