<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/section.css">

    <link rel="icon" href="/favicon.ico">
    <title>{% block title %} {% endblock title %} - denebola213_pages</title>
    <link href="https://mstdn.nostalgia-tns.net/@denebola213" rel="me">


    {% if page.title %}
    <meta name="og:url" content="{{ config.base_url }}{{ page.path }}">
    <meta name="og:title" content="{{ page.title }} - denebola213_pages">
    <meta name="og:type" content="website">
    {% elif section.title %}
    <meta name="og:url" content="{{ config.base_url }}{{ section.path }}">
    <meta name="og:title" content="{{ section.title }} - denebola213_pages">
    <meta name="og:type" content="article">
    {% else %}
    <meta name="og:url" content="{{ config.base_url }}">
    <meta name="og:title" content="denebola213_pages">
    <meta name="og:type" content="website">
    {% endif %}

    {% if page.summary %}
    <meta name='description' content="{{ page.summary | safe }}">
    <meta name="og:description" content="{{ page.summary | safe }}">
    {% else %}
    <meta name='description' content="debebola's web pages.">
    <meta name="og:description" content="debebola's web pages.">
    {% endif %}

    {% if page.extra.thumbnail %}
    <meta name="og:image" content="{{ resize_image(path=page.extra.thumbnail, width=360, height=360, op='fit') }}">
    {% else %}
    <meta name="og:image" content="{{ config.base_url }}/dene.png">
    {% endif %}

    {% block style %}
    {% endblock style %}
</head>

<body>
    <header>
        {% include "header.html" %}
    </header>
    <main>
        {% block main %}
        {% endblock main %}
    </main>

    <footer>
        <small>&copy; 2020 delebola213</small>
    </footer>

    <!-- script of bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>
