<div id="main-header">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">denebola213_pages</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav">
            <div class="navbar-nav">
                <a class="nav-link" id="main-header-nav-tech" href="/tech">Tech</a>
                <a class="nav-link" id="main-header-nav-diary" href="/diary">Diary</a>
                <a class="nav-link" id="main-header-nav-about" href="/about">About</a>
                <a class="nav-link" id="main-header-nav-tags" href="/tags">Tags</a>
            </div>


        </div>

        <form class="d-flex">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-brightness-high" viewBox="0 0 16 16">
                    <path
                        d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                </svg>
            </div>
            <div id="main-header-theme-selector" class="form-check form-switch" style="margin-left: 26px;">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon"
                    viewBox="0 0 16 16">
                    <path
                        d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z" />
                </svg>
            </div>
        </form>
    </nav>

    <nav aria-label="breadcrumb" id="page-breadcrumb">
        <ol class="breadcrumb" id="page-breadcrumb-list">
            <!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Home</li> -->
        </ol>
    </nav>

    <script>
        const regex = /\/([^\/]+)/g
        const path = location.pathname

        let resultList = []
        let listInnerHTMLTmp = '<li class="breadcrumb-item"><a href="/">home</a></li>\n'
        let unionPath = ''
        let listInnerHTML = ''

        let tmpre
        while ((tmpre = regex.exec(path)) !== null) {
            resultList.push(tmpre)
            listInnerHTML += listInnerHTMLTmp + '\n'
            unionPath += tmpre[0]
            listInnerHTMLTmp = '<li class="breadcrumb-item"><a href="' + unionPath + '">' + tmpre[1] + '</a></li>'
        }

        if (resultList[resultList.length - 2] != null && resultList[resultList.length - 2][1] === "tags") {
            listInnerHTML += '<li class="breadcrumb-item active"  aria-current="page">' + /(.+)\s+-\sdenebola213_pages/g.exec(document.title)[1] + '</li>'
        }
        else {
            listInnerHTML += '<li class="breadcrumb-item active"  aria-current="page">' + resultList[resultList.length - 1][1] + '</li>'
        }
        document.getElementById("page-breadcrumb-list").innerHTML = listInnerHTML

        if (resultList.length >= 1) {
            switch (resultList[0][1]) {
                case "tech":
                    var tech = document.getElementById("main-header-nav-tech");
                    tech.classList.add("active");
                    break;
                case "diary":
                    var diary = document.getElementById("main-header-nav-diary");
                    diary.classList.add("active");
                    break;
                case "about":
                    var about = document.getElementById("main-header-nav-about");
                    about.classList.add("active");
                    break;
                case "tags":
                    var tags = document.getElementById("main-header-nav-tags");
                    tags.classList.add("active");
                    break;
                default:
                    break;
            }
        }

        // OSのテーマ設定取得
        const selector = document.getElementById("main-header-theme-selector").firstElementChild
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            selector.checked = true;
        } else {
            selector.checked = false;
        }

        // 保存してたテーマを取得
        const theme = localStorage.getItem("theme");
        document.body.setAttribute("theme", theme);
        if (theme === "dark") {
            selector.checked = true;
        } else if (theme === "light") {
            selector.checked = false;
        }

        // 切り替えボタン
        selector.addEventListener('change', () => {
            if (selector.checked) {
                document.body.setAttribute("theme", "dark")
                localStorage.setItem("theme", "dark");
            } else {
                document.body.setAttribute("theme", "light")
                localStorage.setItem("theme", "light");
            }
        })
    </script>
</div>
